@page "/edit-product"
@page "/edit-product/{id:int}"
@inject HttpClient Http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


@if (Id == null)
{
    <h3>Adicionar Produto</h3>
}
else
{
    <h3>Editar @Produto.Name</h3>
}
<EditForm Model="Produto" OnSubmit="HandleSubmit">
    <div>
<label for="Name">Nome</label>
        <InputText id="Name" @bind-Value="Produto.Name" />
    </div>
</EditForm>



@code {
    [Parameter]
    public int? Id { get; set; }
    public  Product Produto { get; set; } =  new Product();

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await Http.GetFromJsonAsync<Product>($"api/products/{(int)Id}");
            if (result is not null)
                Produto = result;

        }
    }

    Task HandleSubmit()
    {
        if (Id is null)
        {
            Http.PostAsJsonAsync("api/products", Produto);
        }
        else
        {
            Http.PutAsJsonAsync($"api/products/{(int)Id}", Produto);
        }
        return Task.CompletedTask;
    }

}
