@page "/edit-product"
@page "/edit-product/{id:int}"
@inject HttpClient Http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


@if (Id == null)
{
    <h3>Adicionar Produto</h3>
}
else
{
    <h3>Editar @Produto.Name</h3>
}
<EditForm Model="Produto" OnSubmit="HandleSubmit">
    <div>
        <label for="Name">Nome</label>
        <InputText id="Name" @bind-Value="Produto.Name" class="form-control" />
    </div>
    <div>
        <label for="Price">Preço</label>
        <InputNumber id="Price" @bind-Value="Produto.Price" class="form-control" />
    </div>
    <div>
        <label for="Description">Descrição</label>
        <InputTextArea id="Description" @bind-Value="Produto.Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</EditForm>



@code {
    [Parameter]
    public int? Id { get; set; }
    public  Product Produto { get; set; } =  new Product();

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await Http.GetFromJsonAsync<Product>($"api/products/{(int)Id}");
            if (result is not null)
                Produto = result;

        }
    }

    async Task HandleSubmit()
    {
        if (Id is null)
        {
           var result = await  Http.PostAsJsonAsync("api/products", Produto);
            Produto = await result.Content.ReadFromJsonAsync<Product>();
        }
        else
        {
            var result = await Http.PutAsJsonAsync($"api/products/{Id}", Produto);
            Produto = await result.Content.ReadFromJsonAsync<Product>();
        }
        
    }

}
